wheel
gunicorn
setuptools==80.9.0
pytz>=2017.3
babel==2.17.0
googleapis_common_protos
google-cloud-ndb==2.4.0
protobuf==6.33.5
icalendar==6.3.2
grpcio==1.76.0
Werkzeug==3.1.5
Flask==3.1.2
flask-babel==4.0.0
requests==2.32.4
certifi>=2025.11.12
