<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <title>{% block title %}{% endblock %}</title>
    {% if gtag != None: %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ gtag }}');
</script>
    {% endif %}
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
{% if google_ad_client != None %}
    </div id="footer_ad">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-{{ google_ad_client }}" crossorigin="anonymous"></script>
    </div>
{% endif %}
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2012–2025 by <a href="https://simon.leinen.ch/">Simon Leinen</a>.
        {% endblock %}
    </div>
</body>
</html>
